<html>
        <head>
                <link href="../static/css/style.css" rel="stylesheet">
        </head>
<body>
<header>
    <nav>

        <div id="nav">
                <div class="logo"><h1>STACK-OVERFLOW LITE</h1></div>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="login.html">logout</a></li>
                </ul>
        </div>

</nav>
</header>
<main>
<div id="post">
        <h3>Type your question here</h3>
    <form >
       
        <div class="form-group"><textarea rows="5"></textarea></div>
        <div class="form-group"><button type="submit" class="btn">Ask Question</button></div>

    </form>
</div>
<div id="">
    <h3>Recently asked Questions</h3>
    <table cellspacing="30";>


        <thead>

                <tr>
                        <th style="color: lightpink";>Question</th>
                        
        
                </tr>
        </thead>
        <tbody>
            <tr>
                <td align="center">
                    <div>
                            <a href="view-qstn.html">Google app engine with React and Node: Production setup</a><br>

                            <button class="btn" onclick="reply()">
                                    <a href="../templates/view-qstn.html">  Add Answer</a>
                                  
                            </button>
                          <button class="btn">
                                <a href="../templates/view-qstn.html">Read more</a>

                            </button>
                    </div>
                    
                   </td>
                

            </tr>
           
            <tr>
                    <td align="center">
                        <div>
                                <a href="view-qstn.html">

                                        Pulling data from one sheet and matching it by TWO keys to another sheet in a different spreadsheet…there has to be a faster way</a><br>
                                        <button class="btn" onclick="reply()">
                                                <a href="../templates/view-qstn.html">  Add Answer</a>
                                              
                                        </button>
                                      <button class="btn">
                                            <a href="../templates/view-qstn.html">Read more</a>
    
                                        </button>
                        </div>
                       
                       </td>
                    
    
                </tr>
       
                <tr>
                        <td align="center">
                            <div>
                                    <a href="view-qstn.html">
                                            How can I create a custom function using a variable-sized array input?</a><br>
                                            <button class="btn" onclick="reply()">
                                                    <a href="../templates/view-qstn.html">  Add Answer</a>
                                                  
                                            </button>
                                          <button class="btn">
                                                <a href="../templates/view-qstn.html">Read more</a>
        
                                            </button>
                            </div>
                           
                           </td>
                        
        
                    </tr>
                   
        </tbody>
    </table>

</div>




</main>
<footer>
        <div class="logo"><h3 style="color: lawngreen;" >STACK-OVERFLOW LITE</h3></div>
       

</footer>

<script src="../static/js/script.js"></script>


</body>




</html>