<html>

<head>
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
                <div id="nav">
                        <div class="logo"><h1>STACK-OVERFLOW LITE</h1></div>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="../templates/signup.html">Signup</a></li>
                            <li><a href="../templates/login.html">Login</a></li>
                        </ul>
                </div>
        </nav>
    </header>
    <main>


        <div id="form">
            <div class="left-side">
                
                <p>

                    Learn, Share, Build<br>

                    Each month, over 50 million developers<br>
                     come to Stack Overflow to learn, share their knowledge, 
                     and build their careers.
                      Join the world’s largest developer community.
                </p>
            </div>

        <div id="top-questions">

            <div id="main">
                <table cellspacing="30" ;>


                    <thead>

                        <tr>
                            <th><h2>Top Asked Questions</th></h2>


                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="center">
                                <div>
                                    <a href="view-qstn.html">
                                            
                                            what is the mathematical logic of this solution (finding a number that is a multiple of 
                                            <button class="btn" onclick="reply()">
                                                    <a href="../templates/view-qstn.html">  Add Answer</a>
                                                  
                                            </button>
                                          <button class="btn">
                                                <a href="../templates/view-qstn.html">Read more</a>
        
                                            </button>
                                </div>
                                
                            </td>
                            <td>6<br>Votes</td>
                            <td>6<br>Answers</td>

                        </tr>

                        <tr>
                            <td align="center">
                                <div>
                                    <a href="view-qstn.html">
                                            
                                            urllib request.urlopen(url).read() with PostgreSQL not storing HTML</a><br>
                                    <button class="btn" onclick="reply()">
                                            <a href="../templates/view-qstn.html">  Add Answer</a>
                                          
                                    </button>
                                  <button class="btn">
                                        <a href="../templates/view-qstn.html">Read more</a>

                                    </button>
                                </div>
                                
                            </td>
                            <td>7<br>Votes</td>
                            <td>6<br>Answers</td>


                        </tr>

                        <tr>
                            <td align="center">
                                <div>
                                    <a href="view-qstn.html">Is it possible to control console via python?</a><br>
                                    <button class="btn" onclick="reply()">
                                            <a href="view-qstn.html">  Add Answer</a>
                                          
                                    </button>
                                  <button class="btn">
                                        <a href="view-qstn.html">Read more</a>

                                    </button>
                                </div>
                                

                                </div>
                            </td>
                            <td>7<br>Votes
                            </td>
                            <td>6<br>Answers


                            </td>


                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <footer></footer>

    <script src="UI/static/js/script.js"></script>


</body>




</html>