<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/style.css" rel="stylesheet">
    
</head>

        <body>
        <header>
            <nav>      
        
                <div id="nav">
                        <div class="logo"><h1>STACK-OVERFLOW LITE</h1></div>
                        <ul>
                            <li><a href="home.html">Home</a></li>
                            <li><a href="../templates/profile.html">profile</a></li>
                            <li><a href="../templates/index.html">Logout</a></li>
                        </ul>
                </div>
             
        
        </nav>
        </header>
        <main>
            <div class="container">
        <div id="side">
           <img src="../static/images/profile.jpg">
           <h4>NAOME NOMA</h4><br>
           <p>Number of questions asked</p>
           <p>3</p>
        <P>Number of questions answersd</P>   
        <p>3</p>
        </div>
        <div id="main">
            <h3>Asked Questions</h3>
            <table cellspacing="30";>
        
        
                <thead>
        
                        <tr>
                                <th>Question</th>
                                
                
                        </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center">
                            <div>
                                    <a href="/UI/templates/view-qstn.html">Google app engine with React and Node: Production setup</a><br>
                                    <button class="btn">
                                            <a href="../templates/view-qstn.html">  Read more</a>
                                             
                                       </button>
                                     
                                       <button class="btn">
                                               <a href="../templates/view-qstn.html">View answers</a>    
       
                                           </button>
                                           <button class="btn">
                                                   <a href="../templates/view-qstn.html">Delete</a>
                                                   
           
                                               </button>
                            </div>
                           
                           </td>
                    </tr>  
                    <tr>
                            <td align="center">
                                <div>
                                        <a href="view-qstn.html">Pulling data from one sheet and matching it by TWO keys to
                                            
                                            another sheet in a different spreadsheet…there has to be a faster way</a><br>
                                            <button class="btn">
                                             <a href="../templates/view-qstn.html">  Read more</a>
                                              
                                        </button>
                                      
                                        <button class="btn">
                                                <a href="../templates/view-qstn.html">View answers</a>    
        
                                            </button>
                                            <button class="btn">
                                                    <a href="../templates/view-qstn.html">Delete</a>
                                                    
            
                                                </button>
                                </div>
                                
                               </td>
                        </tr>
               
                        <tr>
                                <td align="center">
                                    <div>
                                            <a href="view-qstn.html">How can I create a custom function using a</a><br>
                                                    <button class="btn">
                                                            <a href="../templates/view-qstn.html">  Read more</a>
                                                             
                                                       </button>
                                                     
                                                       <button class="btn">
                                                               <a href="../templates/view-qstn.html">View answers</a>    
                       
                                                           </button>
                                                           <button class="btn">
                                                                   <a href="../templates/view-qstn.html">Delete</a>
                                                                   
                           
                                                               </button>
                                    </div>
                                    
                                   </td>
                
                            </tr>
                           
                </tbody>
            </table>
        
        </div>
        
        
    </div>
        
        </main>
        <footer></footer>
        <script src="../static/js/script.js"></script>

</body>
</html>